{
  "presets": [
    "es2015",
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 10"]
        }
      }
    ]
  ],
  "comments": false,
  "plugins": [
    "transform-vue-jsx",
    "transform-runtime",
    "dynamic-import-node",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "presets": ["env"]
    }
  }
}
